h1, h3{
    text-align: center;
}
p, li{
    font-size: 18px;
}
li a{
    color:rgb(98, 98, 240);
    text-decoration: none;
}
.attacs
{
    padding:50px;
}
h3{
    font-size:25px;
}
.fishing img
{
    float:left;
    margin:15px;
}
.fishing p{
    font-size:18px;
    padding:5px;
}
.border
{
    width: 500px;
    border-top:3px solid black;
}
h4{
    font-size:20px;
}
.brutforce_img
{
    width: 500px;
    float:left;
    margin:15px;
}
.ul_brutforce {
    margin: 0;
  }
.ul_brutforce {
    list-style-type: none;
  }
.ul_brutforce > li {
    text-indent: -5px;
  }
.ul_brutforce > li:before {
    content: "—";
    text-indent: -5px;
  }
ul{
    display: block;
    margin-left: 0px;
}
body{
    font-family: "BlackerSansLight", sans-serif;
    background-image: url('background.png');
    background-size: cover;
}
a{
    text-decoration: none;
}
p{
    margin-bottom: 3px;
    margin-top: 1px;
}
.button{
    width: 220px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top:5px;
}
.button::before
{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.button:active
{
    color: #000;
}
.button:active::after
{
    background: transparent;
}
.button:hover::before
{
    opacity: 1;
}
.button::after
{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}